
{% extends 'base.html.twig' %}
{% block title %}
  APP
{% endblock %}
{% block body %}

{% for message in app.flashes('danger') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

  <div class="container" style="padding-top:10px;">
    <div class="card">
      <div class="card-header">
        Upload Arquivo de transações
      </div>
      <div class="card-body">
          {{ form_start(form,{'action': 'upload'}) }}
          <div class="row">
            <div class="col">
              {{ form_widget(form.arquivo,{'attr':{'class':'form-control form-control-lg'}}) }}
            </div>
          </div>
      </div>
      <div class="card-footer">
      {{ form_widget(form.upload,{'attr':{'class':'btn btn-primary'}}) }}
    <a class="btn btn-secondary" href="/">Limpar</a>
    </div>
    {{ form_end(form) }}
    </div>

    <div class="card" style="margin-top:10px;">
      <div class="card-header">
        Lista de Importações
      </div>
      <div class="card-body">
        <div class="count">
           {{ services.getTotalItemCount }}
        </div>


        <table>
          <tr>
              {# sorting of properties based on query components #}
              <th>{{ knp_pagination_sortable(services, 'Data', 'data') }}</th>
          </tr>
      
          {# table body #}
          {% for transacao in services %}
              <tr >
                  <td>{{transacao.id}}</td>
              </tr>
          {% endfor %}
      </table>

        <div class="row">
          <div class="col">
            <div class="pagination mt-3 d-flex justify-content-center">
              {{ knp_pagination_render(services, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
