<div class="card" style="margin-top:10px;">
  <div class="card-header">
    Contas Suspeitas
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Banco
          </th>
          <th scope="col">
            Agência
          </th>
          <th scope="col">
            Conta
          </th>
          <th scope="col">
            Valor
          </th>
          <th scope="col">
            Tipo Movimentação
          </th>
        </tr>
      </thead>
      <tbody>
        {# table body #}
        {% for transacao in analiseConta %}
          <tr>
            <td>
              {{ transacao.nome_banco }}
            </td>
            <td>
              {{ transacao.agencia }}
            </td>
            <td>
              {{ transacao.conta }}
            </td>
            <td>
              R${{ transacao.total|number_format(2, ',', '.') }}
            </td>
            <td>
              {{ transacao.tipo_operacao }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="row">
      <div class="col">
        <div class="pagination mt-3 d-flex justify-content-center">
          {{
            knp_pagination_render(
              analiseConta,
              '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig'
            )
          }}
        </div>
      </div>
    </div>
  </div>
</div>
