<div class="card" style="margin-top:10px;">
  <div class="card-header">
    Transacões Suspeitas
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr align="center">
          <th rowspan="2">
            id
          </th>
          <th colspan="3">
            Origem
          </th>
          <th colspan="3">
            Destino
          </th>
          <th rowspan="2">
            Valor
          </th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            Banco
          </th>
          <th scope="col">
            Conta
          </th>
          <th scope="col">
            Banco
          </th>
          <th scope="col">
            Conta
          </th>
          <th scope="col">
            Agência
          </th>
        </tr>
      </thead>
      <tbody>
        {# table body #}
        {% for transacao in analiseTransacoes %}
          <tr>
            <td>
              {{ transacao.id }}
            </td>
            <td>
              {{ transacao.contaBancariaOrigem.nome_banco }}
            </td>
            <td>
              {{ transacao.contaBancariaOrigem.agencia }}
            </td>
            <td>
              {{ transacao.contaBancariaOrigem.conta }}
            </td>
            <td>
              {{ transacao.contaBancariaDestino.nome_banco }}
            </td>
            <td>
              {{ transacao.contaBancariaDestino.agencia }}
            </td>
            <td>
              {{ transacao.contaBancariaDestino.conta }}
            </td>
            <td>
              R${{ transacao.valor|number_format(2, ',', '.') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="row">
      <div class="col">
        <div class="pagination mt-3 d-flex justify-content-center">
          {{
            knp_pagination_render(
              analiseTransacoes,
              '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig'
            )
          }}
        </div>
      </div>
    </div>
  </div>
</div>
