{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
  {{ form_start(form) }}
  <div class="card" style="margin-top:10px;">
    <div class="card-header">
      Cadastro de Usuário
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          {{ form_label(form.nome) }}
          {{ form_widget(form.nome) }}
          {{ form_errors(form.nome) }}
        </div>
        <div class="mb-3">
          {{ form_label(form.email) }}
          {{ form_widget(form.email) }}
          {{ form_errors(form.email) }}
        </div>
        {{ form_widget(form._token) }}
      </form>
    </div>
    <div class="card-footer">
      {{ form_widget(form.salvar) }}
      <a class="btn btn-secondary" href="/user/create">Limpar</a>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
